<div class="container-list">
  <div *ngFor="let item of itemDataList">
    <div class="list">
      <div class="con-item-img">
        <img [src]="item.linkPhoto" class="item-image" />
      </div>
      <div class="list-data">
        <span class="item-name">{{ item.name }}</span>
        <a href="{{ item.link }}" target="_blank" class="item-link"
          >Link do przedmiotu</a
        >
        <span class="item-price">{{ item.price }}zł</span>
      </div>
      <div class="delete">
        <button class="btn-delete" type="button" (click)="remove(item)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
