.list-of-item {
  width: 60vw;
  height: 20vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0.2em;
  padding: 0.5em;
  background-color: rgb(247, 247, 247);
  border: 2px solid rgba(146, 143, 143, 0.4);
  border-radius: 4px;
}
