<div class="list-item-data">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <gifftApp-input
      [formGroup]="itemForm"
      [control]="itemForm.get('name')!"
      [id]="'name'"
      [placeholder]="'Podaj nazwe produktu'"
      [label]="'Name:'"
    ></gifftApp-input>

    <gifftApp-input
      [formGroup]="itemForm"
      [control]="itemForm.get('link')!"
      [id]="'link'"
      [placeholder]="'Podaj link do produktu'"
      [label]="'Link:'"
    ></gifftApp-input>

    <gifftApp-input
      [formGroup]="itemForm"
      [control]="itemForm.get('linkPhoto')!"
      [id]="'linkPhoto'"
      [placeholder]="'Podaj link do zdjęcia produktu'"
      [label]="'Link Photo:'"
    ></gifftApp-input>

    <gifftApp-input
      [formGroup]="itemForm"
      [control]="itemForm.get('price')!"
      [id]="'Price'"
      [placeholder]="'Podaj cenę produktu'"
      [label]="'Prce:'"
    ></gifftApp-input>
    <button
      class="btn-add-list-data"
      type="submit"
      [disabled]="itemForm.invalid"
    >
      Add to list
    </button>
  </form>
</div>
